<div id="contact-info">
 
<!--
       {% if page.country %}
    <i class="fas fa-globe-asia" style="margin-left:1em"></i>
    <a href="{{ page.country.url }}" style="margin-left:0.5em" target="_self"> {{ page.country.text }}</a>
    {% endif %}

    {% if page.author %}
    <i class="fas fa-bookmark" style="margin-left:1em"></i>
    <a href="{{ page.author.url }}" style="margin-left:0.5em" target="_self"> {{ page.author.text }}</a>
    {% endif %}

    {% if page.phone %}
    <i class="fi-telephone" style="margin-left:1em"></i>
    {{ page.phone }}
    {% endif %}

    ### **[Ms. Olga Pilipenets](https://infrastructure.eng.unimelb.edu.au/people/research-students){:target="_blank"}**
```
Contact details available on request
```
- Doctoral Student, Civil Engineering
- Department of Infrastructure Engineering
- The University of Melbourne

A graduate student of Information Technology positioned to contribute significantly in generating innovative market possibilities in enterprises and solve technological challenges. Expertise in collaborating with academia, in-house growth teams, open-source technology stacks, early-stage startups, and legacy enterprises

-->
</div>
