<div id="contact-info">

    {% if page.country_standard %}
    <i class="fas fa-globe-asia" style="margin-left:1em"></i>
    <a href="{{ page.country_standard.url }}" style="margin-left:0.5em"> {{ page.country_standard.text }}</a>
    {% endif %}

    {% if page.email %}
    <i class="fi-mail" style="margin-left:1em"></i>
    <a href="{{ page.email.url }}" style="margin-left:0.5em">{{ page.email.text }}</a>
    {% endif %}

    {% if page.phone %}
    <i class="fi-telephone" style="margin-left:1em"></i>
    {{ page.phone }}
    {% endif %}

</div>
