<div id="contact-info">

    {% if page.homepage %}
    <i class="fas fa-compass" style="margin-left:1em"></i>
    <a href="{{ page.homepage.url }}" style="margin-left:0.5em" target="_blank"> {{ page.homepage.text }}</a>
    {% endif %}

    {% if page.email %}
    <i class="fas fa-at" style="margin-left:1em"></i>
    <a href="{{ page.email.url }}" style="margin-left:0.5em" target="_blank">{{ page.email.text }}</a>
    {% endif %}

    {% if page.socials %}
    <i class="fab fa-linkedin-in" style="margin-left:1em"></i>
    <a href="{{ page.socials.url }}" style="margin-left:0.5em" target="_blank">{{ page.socials.text }}</a>
    {% endif %}


    {% if page.phone %}
    <i class="fi-telephone" style="margin-left:1em"></i>
    {{ page.phone }}
    {% endif %}

</div>
