<div id="contact-info">

    {% if page.homepage %}
    <i class="fas fa-location-arrow" style="margin-left:1em"></i>
    <a href="{{ page.homepage.url }}" target="_blank" style="margin-left:0.5em"> {{ page.homepage.text }}</a>
    {% endif %}

    {% if page.email %}
    <i class="fas fa-envelope-square" style="margin-left:1em"></i>
    <a href="{{ page.email.url }}" target="_blank" style="margin-left:0.5em">{{ page.email.text }}</a>
    {% endif %}

    {% if page.phone %}
    <i class="fas fa-phone" style="margin-left:1em"></i>
    <a href="{{ page.phone.url }}" target="_blank" style="margin-left:0.5em">{{ page.phone.text }}</a>
    {% endif %}

    {% if page.linkedin %}
    <i class="fab fa-linkedin" style="margin-left:1em"></i>
    <a href="{{ page.linkedin.url }}" target="_blank" style="margin-left:0.5em">{{ page.linkedin.text }}</a>
    {% endif %}
   <!--
    {% if page.twitter %}
    <i class="fab fa-twitter-square" style="margin-left:1em"></i>
    <a href="{{ page.twitter.url }}" target="_blank" style="margin-left:0.5em">{{ page.twitter.text }}</a>
    {% endif %}  Write your comments here
    A graduate student of Information Technology positioned to contribute significantly in generating innovative market possibilities in enterprises and solve technological challenges. Expertise in collaborating with academia, in-house growth teams, open-source technology stacks, early-stage startups, and legacy enterprises

An Information Technology graduate student with experience in implementing and maintaining enterprise applications. My hands-on experience working with Java and MySQL allows me to design and test applications efficiently to help organizations deliver quality products. I am adept at opening communication channels with third parties and participating in team decision-making. In seeking challenging opportunities within an organization, I hope to contribute to accomplishing the organization's goals by applying my skills and knowledge.

### **Sri Manakula Vinayagar Engineering College, Pondicherry University** `2011.08 - 2015.05`

```
Pondicherry, IN
```

- Undergraduate Study (Bachelor Program), Computer Science and Engineering
- Data Structures, Automata Languages and Computation, <br> Object-Oriented Programming Languages and Design and Analysis of Algorithms

  -->
</div>
