<div id="contact-info">
<!--
    {% if page.country %}
    <i class="fas fa-globe-asia" style="margin-left:1em"></i>
    <a href="{{ page.country.url }}" style="margin-left:0.5em" target="_self"> {{ page.country.text }}</a>
    {% endif %}
     Write your comments here
    {% if page.author %}
    <i class="fas fa-bookmark" style="margin-left:1em"></i>
    <a href="{{ page.author.url }}" style="margin-left:0.5em" target="_self"> {{ page.author.text }}</a>
    {% endif %}

    {% if page.phone %}
    <i class="fi-telephone" style="margin-left:1em"></i>
    {{ page.phone }}
    {% endif %}

-->

</div>
